<div class="header">
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"><img src="/assets/app_icon.png" class="app-icon" /></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to t("headers.vk_dic"), words_path %></li>
        <li><a href="badges.html">Technical Dictionary</a></li>
        <li><%= link_to t("headers.article") , articles_path %></li>
        <li><%= link_to t("headers.about_us") , about_us_path %></li>
      </ul>
    </div>
  </nav>
</div>