<div class="vn-article">
  <div class="chip">
    <img src="/assets/vn.png" alt="Contact Person">
    <%= t "label.langs.vn_lang" %>
  </div>
  <%= @article.vn_article.html_safe %>
</div>
<div class="kh-article">
  <div class="chip">
    <img src="/assets/kh.png" alt="Contact Person">
    <%= t "label.langs.kh_lang" %>
  </div>
  <%= @article.kh_article.html_safe %>
</div>
