<div class="row">
  <div class="col s8">
    <% if @words.any? %>
      <%= render @words %>
    <% else %>
      <%= t "alerts.no_result" %>
    <% end %>
  </div>
  <div class="col s4">
    <%= render "shared/lang" %>
    <%= render "shared/top_30" %>
  </div>
</div>
