<div class="example">
  - <%= example.vn_example %><br />
  - <%= example.kh_example %><br />
  <img src="/assets/computer.jpg" alt="Smiley face" class="materialboxed"
    data-caption="<%= example.vn_example %>">
</div>
