<div class="margin-left-meaning">
  <div class="meaning-title"><i class="tiny material-icons  pink-text">room</i><%= meaning.meaning %></div>
  <div class="margin-left-example">
    Example:
    <div class="margin-left-example-title">
      <%= render meaning.examples %>
    </div>
  </div>
</div>