
body, html {
  height: 100%;
  width: 100%;
  font-size: 15px;
  font-family: "Battambang", "Hanuman", Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

#wrapper {
  height: auto;
  width: 100%;
  background-color: #f3f3f3;

  .content {
    width: auto;
    height: auto;
    max-width: 1200px;
    padding: 0px;
    margin: auto;
    background-color: #f3f3f3;
  }

  .container {
    width: 80%;
  }

  .header {
    .app-icon {
      width: 50px;
      height: 50px;
      margin-top: 7px;
      margin-left: 7px;
    }
  }

  .footer {
  }

  .word-title {
    margin: 10px 0px;
    font-size: 25px;
  }

  .meaning-title {
    font-size: 20px;
  }

  .margin-left-example {
    margin-left: 20px;
  }

  .margin-left-meaning {
    margin-left: 20px;
  }

  .margin-left-example-title {
    margin-left: 20px;
  }

  .example {
    img {
      width: 50%;
      height: auto;
      margin: 10px auto;
    }
  }

  .search-bar {
    margin-top: 20px;
  }
}
